<div class="wrapper" [ngClass.lt-md]="{'wrapper-mob': true, 'wrapper': false}">

    <app-trend-header fxHide.lt-md image="/assets/intro-bg.jpeg"></app-trend-header>

    <div class="content">

        <div class="title" fxLayout.lt-md="column">

            <div class="left">

                {{ translationService.data?.intro_title}}

            </div>

            <div class="right" fxLayoutAlign.lt-md="center">

                <img src="/assets/trend1-book.png">

            </div>

        </div>

    </div>
    <br>
    <app-trend-share style="padding-top:15px;"></app-trend-share>

    <div style="z-index: -10; position:relative; background: #f2f2f2; margin-left:30px; margin-right:30px; margin-top: -200px; padding-top: 100px; padding-bottom: 40px; justify-content: center;"
        fxLayout.lt-md="column" fxLayoutAlign="center">

        <div class="column" style="padding-top: 100px;">

            <h1 style="margin-top: 60px;" [innerHTML]="translationService.data?.intro_block_1_title"></h1>

            <p [innerHTML]="translationService.data?.intro_block_1_paragraph_1"></p>
            <p [innerHTML]="translationService.data?.intro_block_1_paragraph_2"></p>
            <p [innerHTML]="translationService.data?.intro_block_1_paragraph_3"></p>
            <p [innerHTML]="translationService.data?.intro_block_1_paragraph_4"></p>
            <p [innerHTML]="translationService.data?.intro_block_1_paragraph_5"></p>

            <h1 [innerHTML]="translationService.data?.intro_block_1_thank_you"></h1>

            <img fxHide.lt-md style="width: 600px" src="/assets/intro-thankyou.png">
            <div fxLayout="column" fxHide fxShow.lt-md style="padding: 30px" fxLayoutAlign="center">
                <img width="100%" src="/assets/mobile/Mobile-Walid-Negm@2x.png">
                <img width="100%" src="/assets/mobile/Mobile-Pascal-Brier@2x.png">

            </div>
        </div>


    </div>

    <div class="surveys">

        <div>

            <img fxHide.lt-md src="/assets/intro-survey-1.png">
            <img width="100%" fxHide fxShow.lt-md src="/assets/mobile/Asset 1@2x.png">

        </div>

        <div>

            <img fxHide.lt-md src="/assets/intro-survey-2.png">
            <img width="100%" fxHide fxShow.lt-md src="/assets/mobile/Asset 2@2x.png">

        </div>

    </div>

    <app-trend-download></app-trend-download>

</div>
<app-trend-footer color="#e53340" arrowImage="/assets/Trend01-pg02@2x-cropped.png" icon="/assets/trend1-redcircle.png"
    link="/trends/01-PLAYING-THE-SPECTRUM-OF-DISRUPTION" title="{{translationService.data?.trend_1_title}}"
    subtitle="{{translationService.data?.see_next_trend}}"></app-trend-footer>