<div class="wrapper" [class.basic]="basic" [ngStyle.lt-md]="{'justify-content': 'center', 'width': '0'}">
    <div class="flex">
        <div class="text" *ngIf="basic">
            {{translationService.data?.share}}
        </div>
        <div class="text" *ngIf="!basic">
            {{translationService.data?.share_now}}
        </div>

        <div class="social">
            <a href="https://www.facebook.com/Altran">
                <img src="/assets/trend-share-facebook.png">
            </a>

        </div>

        <div class="social">
            <a href="https://twitter.com/altran_na">
                <img src="/assets/trend-share-twitter.png">
            </a>

        </div>

        <div class="social">
            <a href="https://www.linkedin.com/company/altran/">
                <img src="/assets/trend-share-linkedin.png">
            </a>
        </div>

        <div class="social" style="padding-top: 10px;">
            <a href="mailto:info@altran-techvision-2019.com">
                <img src="/assets/trend-share-mail.png">
            </a>

        </div>

    </div>

</div>