<div class="trend wrapper" [ngClass.lt-md]="{'wrapper-mob': true, 'wrapper': false}">

    <app-trend-header fxHide.lt-md image="/assets/trend1-bg.jpeg"></app-trend-header>


    <div class="content">

        <div class="title" fxLayout.lt-md="column">

            <div class="left " [innerHTML]="translationService.data?.trend_1_title"></div>

            <div class="right" fxLayoutAlign.lt-md="center">

                <img src="/assets/icn_trend_1.png">

            </div>

        </div>

        <div class="description">

            <div class="left">

                <h1 style="margin: 0" [innerHTML]="translationService.data?.trend_1_header_list_title"></h1>

                <ul>

                    <li [innerHTML]="translationService.data?.trend_1_header_list_item_1"></li>
                    <li [innerHTML]="translationService.data?.trend_1_header_list_item_2"></li>
                    <li [innerHTML]="translationService.data?.trend_1_header_list_item_3"></li>
                    <li [innerHTML]="translationService.data?.trend_1_header_list_item_4"></li>

                </ul>

            </div>

            <div class="right" fxLayoutAlign.lt-md="center">

                <a (click)="scrollTo('download')">

                    <img src="/assets/trend1-download.png">

                </a>

            </div>

        </div>

    </div>
</div>
<app-trend-share></app-trend-share>


<div fxLayout.lt-md="column" fxLayoutAlign="center">

    <div class="column">

        <h1 [innerHTML]="translationService.data?.trend_1_block_1_title"></h1>
        <p [innerHTML]="translationService.data?.trend_1_block_1_paragraph_1"></p>

    </div>

</div>


<div fxLayout="column" class="continuum" style="align-items: center; text-align: center; background: #fff;">
    <div class="title" [innerHTML]="translationService.data?.success_requires_action_across_the_continuum"></div>
    <br>
    <img width="1040" src="/assets/trend1-bar.png" fxHide.lt-md>
    <img width="100%" src="/assets/mobile/Asset 3@2x.png" fxHide.gt-sm>

</div>

<div class="col flex-center">

    <div class="column">

        <h1 [innerHTML]="translationService.data?.trend_1_block_2_title"></h1>
        <p [innerHTML]="translationService.data?.trend_1_block_2_paragraph_1"></p>

    </div>

</div>

<div fxLayoutAlign="center" style="background: #fff; padding-bottom: 52px;">
    <div class="column">
        <h1 class="survey-title">ALTRAN – 2019 SURVEY</h1>
        <img src="/assets/trend1-survey1.jpeg" fxHide.lt-md>
        <img width="100%" src="/assets/mobile/Asset 5@2x.png" fxHide.gt-sm>
    </div>
</div>

<div class="col flex-center">

    <div class="column">

        <h1 [innerHTML]="translationService.data?.trend_1_block_3_title"></h1>

        <p [innerHTML]="translationService.data?.trend_1_block_3_paragraph_1"></p>
        <p [innerHTML]="translationService.data?.trend_1_block_3_paragraph_2"></p>

        <ol>

            <li [innerHTML]="translationService.data?.trend_1_block_list_item_1"></li>
            <li [innerHTML]="translationService.data?.trend_1_block_list_item_2"></li>
            <li [innerHTML]="translationService.data?.trend_1_block_list_item_3"></li>
            <li [innerHTML]="translationService.data?.trend_1_block_list_item_4"></li>

        </ol>

        <h1 [innerHTML]="translationService.data?.trend_1_block_4_title"></h1>

        <p [innerHTML]="translationService.data?.trend_1_block_4_paragraph_1"></p>

    </div>

</div>

<div fxLayoutAlign="center" style="background: #fff;">
    <div class="center">
        <h1 class="survey-title">ALTRAN – 2019 SURVEY</h1>
        <img width="1040" src="/assets/trend1-survey2.jpeg" fxHide.lt-md>
        <img width="100%" src="/assets/mobile/Asset 6@2x.png" fxHide.gt-sm>
    </div>
</div>

<app-trend-download></app-trend-download>

<app-trend-footer color="#01B4B9" arrowImage="/assets/Trend02-pg03@2x-cropped.png"
    subtitle="{{translationService.data?.see_next_trend}}" title="{{translationService.data?.trend_2_title}}"
    icon="/assets/trend2-icon.png" link="/trends/02-INNOVATE-ON-DOMINANT-ARCHITECTURES">
</app-trend-footer>