$break-small: 959px;

:host {
  h1 {
    color: #01b4b9;
  }

  .wrapper-mob {
    .content {
      .title {
        background: #01b4b9;
      }
    }

    .description {
      .left {
        color: #01b4b9;
      }
    }
  }

  .column {
    ol > li:before {
      background: #01b4b9;
    }
  }

  .wrapper {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: -200px;

      .title {
        background: #01b4b9;
      }
    }

    .description {
      position: relative;

      background: #fff;

      width: 980px;
      padding: 30px;

      .left {
        color: #01b4b9;
      }

      .right {
        position: absolute;
        right: 77px;
        top: 30px;

        img {
          height: 180px;
        }
      }
    }
  }

  .inner {
    background: #f2f2f2;
    padding: 20px;

    .verticals {
      display: flex;

      .vertical {
        background: #fff;
        margin: 5px;
        width: 163px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        .top {
          height: 60px;
          display: flex;
          align-items: center;
          padding: 20px;
          background: #01b4b9;
          color: #fff;
          font-family: "demi";
          line-height: 20px;
          font-size: 18px;

          @media screen and (max-width: $break-small) {
            font-size: 18pt;
            line-height: 26pt;
            height: 127px;
          }
        }

        .bottom-mob {
          padding: 20px;
          font-size: 18pt;
          line-height: 32.4pt;
          min-height: 100px;
        }

        .bottom {
          min-height: 220px;
          padding: 20px;
          font-size: 18px;
        }
      }
    }

    .bars {
      margin-top: 25px;
    }
  }

  .lower {
    position: relative;
    padding: 20px;
    padding-bottom: 0;

    background: #fff;
    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
      font-size: 16px;
      margin: 0;
    }

    p {
      width: 400px;
    }

    .image {
      position: absolute;

      right: -30px;
      top: 70px;

      img {
        height: 440px;
      }
    }
  }

  ol {
    li {
      margin: 20px;
    }
  }
}
