$break-small: 959px;

:host {
  h1 {
    color: #5f4f9b;
  }

  .wrapper-mob {
    .content {
      .title {
        background: #5f4f9b;
      }
    }

    .description {
      .left {
        color: #5f4f9b;
      }
    }
  }

  .bars {
    margin-top: 112px;
  }
  .column {
    width: 1040px;
    ol > li:before {
      background: #5f4f9b;
    }
  }

  .wrapper {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: -200px;

      .title {
        position: relative;

        background: #5f4f9b;

        width: 980px;
        padding: 30px;

        .left {
          display: flex;
          align-items: center;

          width: 500px;
          height: 240px;

          font-size: 50px;
          font-weight: bold;
          line-height: 60px;

          color: #fff;
        }

        .right {
          position: absolute;
          right: 70px;
          top: 0;

          img {
            height: 300px;
          }
        }
      }
    }

    .description {
      position: relative;

      background: #fff;

      width: 980px;
      padding: 30px;

      .left {
    
        color: #5f4f9b;
      }

      .right {
        position: absolute;
        right: 70px;
        top: 30px;

        img {
          height: 180px;
        }
      }
    }
  }

  .survey {
    background: #f2f2f2;
    padding: 30px;

    font-size: 22px;
    font-weight: bold;
    line-height: 32px;

    margin-bottom: 20px;

    span {
      color: #5f4f9b;
    }
  }

  ul {
    margin: 0.75em 40px;
    padding: 0 1em;
    // list-style: none;
  }

  li {
    margin-bottom: 15px;

    @media screen and (max-width: $break-small) {
      margin-left: 25px;
      font-size: 18pt;
      line-height: 32.4pt;
    }
  }

  // li:before {
  //   content: "";
  //   border-color: transparent #5f4f9b;
  //   border-style: solid;
  //   border-width: 0.4em 0 0.4em 0.5em;
  //   display: block;
  //   height: 0;
  //   width: 0;
  //   left: -1em;
  //   top: 20px;
  //   position: relative;
  // }
}
