$break-small: 959px;

:host {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 570px;
    .back {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 40px;

      color: #fff;
      background: #1f2555;
      font-size: 13px;
      cursor: pointer;

      &:hover {
        background: #3c48a8;
      }
    }
  }

  .footer {
    display: flex;
    width: 100%;
    height: 530px;
    padding: 0px;
    // height: 250px;

    cursor: pointer;
    &:hover {
      .left {
        background: #1f2555;
      }

      .right {
        background: #1f2555;
      }
    }

    .right {
      vertical-align: middle;
      height: 530px;
      position: relative;
      .title-block {
        position: absolute;
        margin: 0;
        top: 50%;
        padding-left: 250px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        @media screen and (max-width: $break-small) {
          position: relative;
          padding: 0px;
          top: auto;
          -ms-transform: translateY(0%);
          transform: translateY(0%);
        }
        .subtitle {
          margin-top: 20px;
          font-size: 18px;
          color: #fff;
        }
  
        .section-title {
          font-size: 50px;
          line-height: 59px;
          color: #fff;
          font-family: "heavy";
        }
      }
      
    
    }

    @media screen and (max-width: $break-small) {
      height: 100%;

      .right {
        margin-bottom: 40px;
        margin-left: 30px;
        margin-right: 30px;
      }

      &:hover {
        .left {
          background: inherit;
        }

        .right {
          background: inherit;
        }
      }
    }
  }

  .left {
    text-align: center;
    align-content: center;
    // height: 530px;
    overflow: hidden;
    position: relative;
    max-width: 100%;

    @media screen and (max-width: $break-small) {
      max-width: 100%;
    }

    img.icon {
      position: absolute;
      width: 200px;
      height: 200px;
      top: 165px;
      right: 216px;

      @media screen and (max-width: $break-small) {
        position: relative;
        margin-top: 10px;
        // width: 130px;
        top: auto;
        right: auto;
        margin-left: 0px;
        margin-top: 20px;
      }
    }

    img.arrowImage {
      // object-fit: ;
      position: absolute;
      right: 0px;
      top: -9999px;

      bottom: -9999px;
      margin: auto;
      //  width: 110%;

      // padding-right: 100px;
    }
  }
}
