@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "regular";
  src: url("/assets/fonts/721263/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src: url("/assets/fonts/721263/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),
    url("/assets/fonts/721263/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),
    url("/assets/fonts/721263/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),
    url("/assets/fonts/721263/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype");
}

@font-face {
  font-family: "demi";
  src: url("/assets/fonts/721269/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
  src: url("/assets/fonts/721269/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),
    url("/assets/fonts/721269/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"),
    url("/assets/fonts/721269/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),
    url("/assets/fonts/721269/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype");
}

@font-face {
  font-family: "bold";
  src: url("/assets/fonts/721281/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
  src: url("/assets/fonts/721281/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),
    url("/assets/fonts/721281/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),
    url("/assets/fonts/721281/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),
    url("/assets/fonts/721281/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype");
}

@font-face {
  font-family: "heavy";
  src: url("/assets/fonts/721287/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?#iefix");
  src: url("/assets/fonts/721287/3418f6be-70a5-4c26-af1d-c09a8642ca20.eot?#iefix") format("eot"),
    url("/assets/fonts/721287/5c57b2e2-f641-421e-a95f-65fcb47e409a.woff2") format("woff2"),
    url("/assets/fonts/721287/181c847e-cdbc-43d5-ae14-03a81c8953b4.woff") format("woff"),
    url("/assets/fonts/721287/045d1654-97f2-4ff0-9d24-21ba9dfee219.ttf") format("truetype");
}

$break-small: 959px;

.survey-title {
  color: #1e2659 !important;
  font-family: "demi";
  font-weight: normal;
  font-size: 25px;

  @media screen and (max-width: $break-small) {
    font-size: 25pt;
    line-height: 40pt;
  }
}

body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;

  font-family: "regular";
  line-height: 30px;
}

* {
  outline: none;
}

.flex-left {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 50px;
  font-weight: bold;

  font-family: "heavy";

  font-size: 59px;
  line-height: 40pt;
}

.column {
  width: 794px;
  font-size: 18pt;
  line-height: 32.4pt;
  z-index: 0;
  margin-left: 35px;
  margin-right: 35px;

  h1 {
    font-size: 30px;
  }

  ol {
    list-style-type: none;
    // counter-reset: item;
    margin: 0;

    padding-left: 20px;
    padding-right: 20px;

    @media screen and (max-width: $break-small) {
      margin-left: -30px;
      margin-right: -30px;
    }
  }

  ol > li {
    counter-increment: item;
    list-style: none-inside;
    margin-bottom: 50px;
    position: relative;
    padding-left: 60px;

    font-size: 18px !important;
    line-height: 32.4pt;
    list-style-position: outside;
  }

  ol > li:before {
    content: counter(item);
    position: absolute;
    left: 0;
    // margin-right: 40px;
    padding: 8px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    background: #fe862c;
    color: #fff;
    text-align: center;
    font-weight: 100;
    font: 18pt "Lato", Helvetica, Arial, sans-serif;
    float: left;
  }

  p {
    font-size: 18px;
  }

  @media screen and (max-width: $break-small) {
    p {
      font-size: 18pt;
      line-height: 32.4pt;
    }

    width: 90%;
  }
}

[hidden] {
  display: none !important;
}

.description {
  h1 {
    font-family: "demi";
    font-size: 30px;
  }

  li {
    margin: 7px;
  }

  .left {
    width: 550px;
    font-size: 18px;
    font-weight: bold;

    @media screen and (max-width: $break-small) {
      width: 90%;
    }
  }
  .right {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.col {
  background: #f2f2f2;

  .center {
    width: 794px;

    p {
      margin-bottom: 50px;
    }
  }
}

.citing {
  font-size: 12px;
}

button[disabled] {
  background: #666 !important;
}

.title {
  .left {
    font-family: "bold";
  }
}

.survey {
  font-family: "bold";
}

.right {
  a {
    img {
      cursor: pointer;
      width: 280px;
    }
  }
}

.wrapper {
  .content {
    .title {
      position: relative;
      width: 1040px;

      height: auto;
      .left {
        font-size: 59px;
        line-height: 75px;
        display: flex;
        align-items: center;
        padding: 30px;
        width: 500px;
        height: 240px;

        font-weight: bold;
        font-family: "heavy";
        color: #fff;
      }
      .right {
        position: absolute;
        right: 70px;
        top: 0;

        img {
          height: 300px;
        }
      }
    }
  }

  @media screen and (max-width: $break-small) {
    .description {
      .title {
        padding-top: 130px;
      }
    }
    .content {
      .title {
        width: 100%;
        height: 100%;
        display: flex;

        .left {
          font-size: 30px;
          font-weight: bold;
          line-height: 40px;
          // padding-left: 30px;
          // padding-right: 30px;
          padding-top: 30px;
          color: #fff;
          width: auto;
        }

        .right {
          position: relative;
          right: 0px;
          padding-top: 52px;
          padding-bottom: 52px;
          img {
          }
        }
      }
    }

    .left {
      font-size: 18px;
      font-weight: bold;
      line-height: 50px;
      // padding: 30px;
      // color: #fff;
    }

    .right {
      img {
        height: 300px;
      }
    }

    .description {
      background: #fff;
      position: relative;

      padding: 30px;

      .left {
        h1 {
          font-size: 30pt;
          line-height: 38pt;
          font-weight: bold;
        }

        li {
          margin-left: -20px;
          font-size: 18pt;
          line-height: 26pt;
        }
      }

      .right {
        img {
          height: 200px;
        }
      }
    }
  }
}

.wrapper-mob {
  .left {
    font-size: 18px;
    font-weight: bold;
    line-height: 32pt;

    // color: #fff;
  }

  .right {
    img {
      height: 300px;
    }
  }

  .description {
    background: #fff;
    position: relative;

    padding: 35px;

    .left {
      h1 {
        font-size: 30pt;
        line-height: 38pt;
        font-weight: bold;
      }

      li {
        margin-left: -20px;
        font-size: 18pt;
        line-height: 26pt;
      }
    }

    .right {
      img {
        height: 200px;
      }
    }
  }
}
