<div class="wrapper" 
fxLayout
fxLayoutAlign.gt-sm="stretch stretch"

fxLayout.lt-md="column">

    <app-trend      
    fxFlex.gt-sm="100"  
    
    
    [@fadeInLeft]="{ value: fadeInLeft  }"
               link="/trends/Introduction"
               backgroundColor="#1F2555"
               [title]="translationService.data?.home_intro_title"
               [subtitle]="translationService.data?.home_intro_subtitle"
               [buttonText]="translationService.data?.home_intro_button"
               buttonBackgroundColor="#367CAB"></app-trend>

    <app-trend        
    fxFlex.gt-sm="20"     
    [@fadeInLeft]="{ value: fadeInLeft  }"
               link="/trends/01-PLAYING-THE-SPECTRUM-OF-DISRUPTION"
               icon="/assets/icn_trend_1.png"
               backgroundColor="#D34447"
               [title]="translationService.data?.home_trend_1_intro_title"
               [subtitle]="translationService.data?.home_trend_1_intro_subtitle"
               [buttonText]="translationService.data?.home_trend_1_intro_button"
               buttonBackgroundColor="#1F2555"></app-trend>

    <app-trend
        fxFlex.gt-sm="20"         
                [@fadeInLeft]="{ value: fadeInLeft  }"
               link="/trends/02-INNOVATE-ON-DOMINANT-ARCHITECTURES"
               icon="/assets/icn_trend_2.png"
               backgroundColor="#51B1B7"
               [title]="translationService.data?.home_trend_2_intro_title"
               [subtitle]="translationService.data?.home_trend_2_intro_subtitle"
               [buttonText]="translationService.data?.home_trend_2_intro_button"
               buttonBackgroundColor="#1F2555"></app-trend>

    <app-trend         
    fxFlex.gt-sm="20"     
     [@fadeInLeft]="{ value: fadeInLeft }"
               link="/trends/03-BEYOND-DIGITAL-DISCONTENT"
               icon="/assets/icn_trend_3.png"
               backgroundColor="#DA6834"
               [title]="translationService.data?.home_trend_3_intro_title"
               [subtitle]="translationService.data?.home_trend_3_intro_subtitle"
               [buttonText]="translationService.data?.home_trend_3_intro_button"
               buttonBackgroundColor="#1F2555"></app-trend>

    <app-trend          
    fxFlex.gt-sm="20"     
    [@fadeInLeft]="{ value: fadeInLeft }"
               link="/trends/04-FOCUS-ON-STELLAR-AI-FUNDAMENTALS"
               icon="/assets/icn_trend_four.png"
               backgroundColor="#5A4F91"
               [title]="translationService.data?.home_trend_4_intro_title"
               [subtitle]="translationService.data?.home_trend_4_intro_subtitle"
               [buttonText]="translationService.data?.home_trend_4_intro_button"
               buttonBackgroundColor="#1F2555"></app-trend>

</div>
